asgiref
boto3
botocore
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
django-environ
django-storages
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
packaging
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
requests
s3transfer
six
sqlparse
typing_extensions
tzdata
whitenoise
